.App {
  text-align: center;
}

.movie-box {
  display: inline-flex;
  padding: 1rem;
  position: relative;
}

.title,
.genre {
  font-size: .8rem;
  white-space: break-spaces;
}

.title {
  position: absolute;
  color: #fff;
  font-weight: bold;
  text-shadow: #000 0 0 2px;
  width: 120px;
  top: 1.2rem;
}

.genre {
  position: absolute;
  width: 120px;
  bottom: 0;
}